<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
<div id="headerDiv">
    <div id="gitHubDiv">
        <img src="static/img/github_dark.png" alt="" width="60" height="60">
        <div>
            <p>Get it on</p>
            <button id="gitHubBtn">GitHub</button>
        </div>
    </div>
    <div id="linksDiv">
        <a href="/index">Главная</a>
        <a href="/about">О проекте</a>
        <a href="/authors">Авторы</a>
    </div>
</div>
<div id="mainBody">
    {% block content %} {% endblock %}
</div>
<script src="static/js/script.js"></script>
</body>
</html>